// =============================================================================
// COLORS
// =============================================================================

// Primary //
$primary-yellow: #F7CA6D;
$primary-blue:   #6D9AF7;

// Secondary


// Gray

$light-gray: #E8E9F2;
$dark-gray:  #26283c;

// Gradients
