// =============================================================================
// MAIN STYLES
// =============================================================================

html,
body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  color: $dark-gray;
  line-height: 1.25;
  font-size: 16px;
  margin: 0;
}

body.no-scroll {
  overflow: hidden;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $dark-gray;
}

button {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 1rem;

  @media (min-width: $breakpoint-medium) {
    font-size: 1.25rem;
  }
}
